<header>
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">FLORIST</a>
      <nav>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/catalog">Каталог</a></li>
          <li><a href="/delivery">Доставка и оплата</a></li>
          <li><a href="/contacts">Контакты</a></li>
          <li><a href="/cart">Корзина</a></li>
          <% if (user) { %>
            <% if (user.role === 'admin') { %>
              <li><a href="/admin">Админ</a></li>
            <% } %>
            <li><a href="/logout">Выйти (<%= user.username %>)</a></li>
          <% } else { %>
            <li><a href="/login">Войти</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
</header>
